@model wevap.Models.Teacher

@{
    ViewBag.Title = "ScoreTeacher";
}
<br />
<h2>Agregar Notas</h2>
<hr />
<br />
<p>
    <br />
    <br />
    @Html.ActionLink("Back to List", "TeacherList")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

